body {
    background-color: #424451;
    display: grid;
    place-items: center;
    min-height: 100vh; 
    margin: 0; 
}

.container {
    background-color: yellow;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 200px;
    justify-content: center; 
}

.card {
    padding: 20px;
    border-radius: 23px;
    background: #1E1F25;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 280px;
    height: 280px;
}

#to-do {
    background-color: blue;
    height: 400px;
    width: 200px;
}
