:root {
    --corFoco: #FF2E2E;
    --corIntervalo: #04C800;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-size: 1em;
    width: 1.1em;
    height: 1.5em;
    background-color: transparent;
    color: white;
    border: none;
}

button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    background-color: #424451;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 50%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    margin: 5px;
}

footer a{
    text-decoration: underline;
    text-decoration-color: #d2d2d2b7;
    color: inherit;
}

.menu-topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 10px;
}


.menu-container{
    display: flex;
}


.item-menu{
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    color: white;
}

.item-menu:hover{
    background-color: rgba(210, 210, 210, 0.573);
    ;
}

.container {
    display: flex;
    gap: 300px;
    justify-content: space-around; 
}

.card {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1.4rem;
    background: #1E1F25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    width: 15rem;
    height: 20rem;
    flex-direction: column;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}



.box {
    margin: 0;
}

#titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#aviso-preenchimento {
    width: 50%;
    color: transparent;
    font-size: 0.6em;
}

#titulo p{
    border-bottom: solid white;
    height: 1.5em;
    margin: 0px;
}

.set-menu {
    display: flex;
    font-size: 0.9em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.31rem;
}

.set-menu p{    
    margin: 0;
}

#foco button {
    color: var(--corFoco);
}

#intervalo button {
    color: #04C800;
}

#ciclos button {
    color: #898989;
}

.set-menu button {
    color: white;
}

#reiniciar button{
    color: black;
}


.set-menu div{
    border-radius: 0.625rem;
}

#foco {
    border: solid var(--corFoco);
}

#intervalo {
    border: solid #04C800;
}

#ciclos {
    border: solid #898989;
}


#start-stop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#foco-set {
    text-align: center;
}

#intervalo-set {
    text-align: center;
}

#ciclos-set {
    text-align: center;
}

#comecar button{
    color: white;
}

#start-stop p{
    margin: 0.5rem;
}


#comecar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corFoco);
    border-radius: 0.625rem;
    width: 11rem;
    height: 2rem;
    cursor: pointer;
    border: solid transparent 0.1em;
}

#intervaloSet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corIntervalo);
    border-radius: 0.625rem;
    width: 11rem;
    height: 2rem;
    cursor: pointer;
    border: solid transparent 0.1em;
}

#comecar:hover {
    border-color: rgb(170, 170, 170);
}

#comecar:active {
    background-color: #a71c1c;
}

#intervaloSet:hover {
    border-color: rgb(170, 170, 170);
}

#intervaloSet:active {
    background-color: #03c8006f;
}

#active:hover {
    border-color: rgb(170, 170, 170);
}

#active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 0.625rem;
    width: 11rem;
    height: 2rem;
    cursor: pointer;
    border: solid transparent 0.1em;
}

#active button{
    color: white;
}

#active:active {
    background-color: #404040;
}


#reiniciar {
    color: #1E1F25;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFe600;
    border-radius: 0.625rem;
    width: 11rem;
    height: 2rem;
    cursor: pointer;
    border: solid transparent 0.1em;
}

#reiniciar:hover {
    border-color:rgb(170, 170, 170);
}

#reiniciar:active {
    background-color: #c5b100;
}

.titulo-foco {
    margin-bottom: 1.25rem;
}

#circulo-status {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125rem;
}



#circulo-progresso {
    background: conic-gradient(var(--corFoco) 360deg, #1E1F25 0deg);
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


#circulo-fundo {
    background-color: #1E1F25;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box-minutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
    font-size: 1px;
    transition: right 0.5s ease-out;
}

.visible {
    align-items: center;
    justify-content: space-around;
    display: flex;
    cursor: pointer;
    visibility: visible;
    width: 80%;
    height: 80%;
    font-size: 15px;
    transition: right 0.5s ease-out;
}

.pause-logo {
    display: flex;
    background-color: white;
    width: 20%;
    height: 80%;
}

.pause1{
    margin-left: 10px;
}

.pause2{
    margin-right: 10px;
}

.botao-play{
    width: 12rem;
    border-style: solid;
    box-sizing: border-box;
    border-width: 4rem 4rem 4rem 6rem;
    border-color: transparent transparent transparent white;
    margin: 25%;
}

#box-minutos p{
    height: auto;
}

#minutos-circulo {
    margin: 0px;
    font-size: 3rem;
}

#minutos-restantes {
    margin: 0px;
    font-size: 1.5rem;
}

#numero-ciclos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: auto;
}

#to-do {
    background-color: blue;
    height: 400px;
    width: 200px;
}


.playpause {
    label {
      display: block;
      box-sizing: border-box;
      width: 0;
      height: 74px;
  
      border-color: transparent transparent transparent #ffffff;
      transition: 100ms all ease;
      cursor: pointer;
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
      &:checked + label {
        border-style: solid;
        border-width: 37px 0 37px 60px;
      }
    }
  }

  



  
